<<<<<<< HEAD
extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header(ng-controller="SmarttimetableController")
    .row
      .col-lg-6
        h1= title
        small &nbsp;#{pageHeader.title}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4 
              a(href="/location")= location.name
              small &nbsp;#{location.rating}
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                &nbsp;
    .col-xs-12.col-sm-4 
=======
extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header(ng-controller="StarcupsController")
    .row
      .col-lg-6
        h1= title
        small &nbsp;#{pageHeader.title}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each location in locations
          .col-xs-12.list-group-item
            h4 
              a(href="/location")= location.name
              small &nbsp;#{location.rating}
              span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each facility in location.facilities
                span.label.label-warning= facility
                &nbsp;
    .col-xs-12.col-sm-4 
>>>>>>> 29bd2d7c66fa7c3e75e186714d713914421a27db
      p.lead= sidebar.context